body, html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.form {
  width: 600px;
  margin: 0 auto 0 auto;
}

.form form {
  padding: 20% 15%;
}

.form form select {
  width: 400px;
  padding: 2%;
}

.btn {
  margin: 12%;
  width: 300px;
  font-size: 21px;
  padding: 2%;
  color: #fff;
  background-color: teal;
  border: none;
}